Repository anoma/namada-interface, pull requests merged in 2023-08, with the labels that each got.

#346 feat/342 - Ledger - support for additional addresses
  apps/extension/src/App/Accounts/AccountListing.tsx
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/Settings/ExtraSettings/DeleteAccount/DeleteAccount.tsx
  apps/extension/src/App/Settings/ExtraSettings/ExtraSettings.tsx
  apps/extension/src/App/Settings/ExtraSettings/types.ts
  apps/extension/src/App/Settings/Settings.tsx
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Setup/Ledger/LedgerConfirmation.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/ledger/handler.ts
  apps/extension/src/background/ledger/index.ts
  apps/extension/src/background/ledger/init.ts
  apps/extension/src/background/ledger/messages.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/test/init.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Labels: E - Extension, E - Ledger HW

#337 test: basic e2e tests
  apps/extension/package.json
  e2e/.eslintrc
  e2e/.gitignore
  e2e/.prettierignore
  e2e/.prettierrc
  e2e/README.md
  e2e/genesis.toml
  e2e/jest.config.ts
  e2e/package.json
  e2e/setup-frontend.sh
  e2e/setup-namada.sh
  e2e/src/index.test.ts
  e2e/src/utils/helpers.ts
  e2e/src/utils/values.ts
  e2e/start-namada.sh
  e2e/tsconfig.json
  package.json
  yarn.lock
Labels: T - Testing

#363 bug/353 - Ledger error-handling improvments
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/Approvals/Approvals.components.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Setup/Ledger/Ledger.components.ts
  apps/extension/src/Setup/Ledger/Ledger.tsx
  apps/extension/src/Setup/Ledger/LedgerConfirmation.tsx
  apps/extension/src/background/ledger/ledger.ts
  packages/shared/lib/src/sdk/mod.rs
Labels: bug, E - Ledger HW

#365 feat/356 - Fix service worker event registration
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhraseConfirmation/SeedPhraseConfirmation.tsx
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/content/index.ts
  apps/extension/src/extension/ExtensionRouter.ts
  apps/extension/src/router/Router.ts
  apps/extension/src/test/init.ts
  packages/shared/lib/src/sdk/mod.rs
Labels: bug, Extension Core

#367 feat/364 - Track revealed Ledger PKs
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/ledger/handler.ts
  apps/extension/src/background/ledger/init.ts
  apps/extension/src/background/ledger/messages.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/router/types/enums.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/src/App/AccountOverview/AccountOverview.components.ts
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Labels: T - Ledger HW, E - Extension

#368 feat/354 - Ledger tx updated balances & staking
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/content/events.ts
Labels: bug, Interface UI, E - Extension

#369 feat/366 - Redirect user to authorize if service worker goes inactive (Chrome)
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Login/Login.tsx
  apps/extension/src/hooks/useAuth.tsx
Labels: Extension UI, E - Extension

#370 feat/358 - Implement notifications for all tx types
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/content/events.ts
  apps/extension/src/extension/ExtensionBroadcaster.ts
  apps/extension/src/extension/index.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/notifications/reducers.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  packages/types/src/events.ts
Labels: T - Interface Core, C - Feature, Interface UI, E - Extension

#372 feat/347 - Faucet transfers in Interface
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/namada-interface/.env.sample
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.components.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/FaucetTransferForm.components.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/FaucetTransferForm.tsx
  apps/namada-interface/src/slices/transfers.ts
  apps/namada-interface/src/types/environment.d.ts
  packages/components/src/Modal/Modal.components.ts
  packages/components/src/Modal/Modal.tsx
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/types.ts
  packages/utils/src/helpers/index.ts
Labels: C - Feature, Interface UI
