Repository anoma/namada-interface, pull requests merged in 2023-06, with the labels that each got.

#290 feat/200 - Tx approval screens
  apps/extension/package.json
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Approvals/ApproveConnection.tsx
  apps/extension/src/App/Approvals/ApproveTx.tsx
  apps/extension/src/App/Approvals/index.ts
  apps/extension/src/Approvals/Approvals.components.tsx
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveConnection/ApproveConnection.components.tsx
  apps/extension/src/Approvals/ApproveConnection/ApproveConnection.tsx
  apps/extension/src/Approvals/ApproveConnection/index.ts
  apps/extension/src/Approvals/ApproveTransfer/ApproveTransfer.components.ts
  apps/extension/src/Approvals/ApproveTransfer/ApproveTransfer.tsx
  apps/extension/src/Approvals/ApproveTransfer/ConfirmTransfer.tsx
  apps/extension/src/Approvals/ApproveTransfer/index.ts
  apps/extension/src/Approvals/index.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/background/approvals/constants.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/index.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/content/events.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/public/approvals.html
  apps/extension/src/router/types/enums.ts
  apps/extension/src/test/init.ts
  apps/extension/src/utils/index.ts
  apps/extension/webpack.config.js
  apps/namada-interface/src/services/extensionEvents/handlers/anoma.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/accounts.ts
  packages/storage/src/store/MemoryKVStore.ts
  packages/storage/src/store/index.ts
  packages/types/src/events.ts
Labels: C - Feature, Extension UI, Extension Core, E - Extension

#298 feat: shielded balances
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/crypto.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/README.md
  packages/integrations/src/Anoma.ts
  packages/rpc/src/RpcClient.ts
  packages/rpc/src/index.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/utils.rs
  packages/types/src/anoma.ts
  specs/interface/rpc.md
Labels: C - Feature, Extension Core

#300 refactor: remove unused wasm files and rpc module
  apps/extension/package.json
  apps/extension/src/provider/Anoma.test.ts
  apps/namada-interface/package.json
  apps/namada-interface/public/wasm/tx_bond.15f90f17f9da06689d6dc18f995fb08db5db8c6c58445f0aa88b3218eb1ec017.wasm
  apps/namada-interface/public/wasm/tx_ibc.5c875e03e01d3835340fa82d399393222a09355ebd557b17166e3c249e01c393.wasm
  apps/namada-interface/public/wasm/tx_init_account.8f368fd2ecaa9224e5d54d56b1960a4fb7d30373f63b6dd9f46d2842ec9a5a2a.wasm
  apps/namada-interface/public/wasm/tx_reveal_pk.fcfe996cbc71038b7b58cde82c45d6506164e81f2d603e12197ba9911657fce0.wasm
  apps/namada-interface/public/wasm/tx_transfer.e043efd16389e27cc8c4ee1bf661798a96589316bfd079ad50410621d24f3f17.wasm
  apps/namada-interface/public/wasm/tx_unbond.06d578d1d0a685920f75304e7b7e5610ebd359096f54e885c0d286f56d639908.wasm
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/transfers.ts
  apps/namada-interface/webpack.config.js
  packages/integrations/src/Anoma.ts
  packages/rpc/.eslintrc
  packages/rpc/.prettierignore
  packages/rpc/.prettierrc
  packages/rpc/README.md
  packages/rpc/package.json
  packages/rpc/src/enums/index.ts
  packages/rpc/src/index.ts
  packages/rpc/src/schema/index.ts
  packages/rpc/src/types/index.ts
  packages/rpc/tsconfig.json
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/index.ts
  packages/types/src/tx/index.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/schema/unbond.ts
  packages/types/src/tx/types.ts
  packages/types/src/tx/wasm/index.ts
  packages/types/src/utils.ts
  packages/utils/src/helpers/index.ts
  packages/utils/src/index.ts
  packages/utils/src/wasm/index.ts
  yarn.lock
Labels: C - Refactoring, T - Wallet Core, Extension Core

#302 feat: initialize masp params load from the extension
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Loading/Loading.components.ts
  apps/extension/src/App/Loading/Loading.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/messages.ts
  packages/shared/lib/src/sdk/mod.js
  packages/shared/lib/src/sdk/mod.rs
Labels: T - MASP, C - Feature, Extension Core

#284 bug/282 - Fix all service worker-related errors in Create Account
  apps/extension/src/App/Accounts/AccountListing.tsx
  apps/extension/src/Setup/AccountCreation/Steps/Completion/Completion.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  packages/hooks/src/useUntil.ts
  packages/utils/src/async/executeUntil.ts
  packages/utils/src/async/index.ts
Labels: bug, C - Bug

#305 feat: async masp params loading
  apps/extension/src/App/App.components.ts
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Loading/Loading.components.ts
  apps/extension/src/App/Loading/Loading.tsx
  apps/extension/src/Approvals/ApproveTransfer/ConfirmTransfer.components.ts
  apps/extension/src/Approvals/ApproveTransfer/ConfirmTransfer.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  packages/shared/lib/src/sdk/mod.js
  packages/shared/lib/src/sdk/mod.rs
Labels: C - Feature, Extension UI

#309 feat: account import
  apps/extension/src/Setup/AccountCreation/AccountCreation.components.ts
  apps/extension/src/Setup/AccountCreation/AccountCreation.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.components.ts
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  apps/extension/src/Setup/AccountCreation/Steps/index.ts
  apps/extension/src/Setup/Common/Completion/Completion.components.ts
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/Setup/Common/Completion/index.ts
  apps/extension/src/Setup/Common/Password/Password.components.ts
  apps/extension/src/Setup/Common/Password/Password.tsx
  apps/extension/src/Setup/Common/Password/index.ts
  apps/extension/src/Setup/Common/index.ts
  apps/extension/src/Setup/ImportAccount/ImportAccount.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport.components.ts
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport.tsx
  apps/extension/src/Setup/ImportAccount/Steps/index.ts
  apps/extension/src/Setup/Setup.components.ts
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/Start/Start.tsx
  apps/extension/src/Setup/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.components.ts
  packages/components/src/Input/input.components.ts
  packages/components/src/Input/input.tsx
  packages/components/src/Input/types.ts
  packages/crypto/lib/src/crypto/bip32.rs
  packages/crypto/lib/src/crypto/bip39.rs
  packages/crypto/lib/src/crypto/pointer_types.rs
  packages/crypto/src/utils.ts
  packages/hooks/src/useUntil.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet.rs
Labels: C - Feature, Extension UI, Extension Core

#312 feat: update namada to 0.17.3
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Labels: C - Feature

#314 feat: scan shielded addresses
  apps/extension/src/background/keyring/keyring.ts
Labels: Extension Core
