Repository anoma/namada-interface, pull requests merged in 2023-05, with the labels that each got.

#259 feat/254 - Events for extension account changes
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Settings/Settings.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/content/events.ts
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/src/hooks/index.ts
  apps/namada-interface/src/hooks/useEvent.ts
  apps/namada-interface/src/index.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/anoma.ts
  apps/namada-interface/src/services/extensionEvents/handlers/index.ts
  apps/namada-interface/src/services/extensionEvents/handlers/keplr.ts
  apps/namada-interface/src/services/extensionEvents/handlers/metamask.ts
  apps/namada-interface/src/services/extensionEvents/index.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/services/index.ts
  apps/namada-interface/src/slices/accounts.ts
  packages/types/src/events.ts
  packages/types/src/index.ts
Labels: C - Feature, Wallet UI, E - Extension

#262 feat/261 - Extension events improvements
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/extension/utils.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/router/types/enums.ts
  apps/extension/src/router/types/router.ts
  apps/extension/src/test/init.ts
  packages/integrations/src/Anoma.ts
Labels: C - Feature, Wallet UI, E - Extension

#266 refactor/265 - Move React hooks to package
  apps/namada-interface/package.json
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/services/integrations/index.ts
  apps/namada-interface/src/services/integrations/provider.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/hooks/.eslintrc
  packages/hooks/README.md
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useEvent.ts
  packages/hooks/src/useIntegration.ts
  packages/hooks/src/useUntil.ts
  packages/hooks/tsconfig.json
Labels: C - Refactoring

#270 bug/263 - Fix for extension popup error
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Loading/Loading.tsx
  packages/hooks/src/useIntegration.ts
  packages/hooks/src/useUntil.ts
Labels: bug, C - Bug, E - Extension

#272 Extension: Update tab storage to account for closed tabs
  apps/extension/src/background/keyring/index.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/utils.ts
  apps/extension/src/extension/ExtensionRequester.ts
Labels: C - Feature, E - Extension

#278 Interface: Bug - Fix for useLocation hook error
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
Labels: bug, C - Bug

#275 feat: update to namada 16
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/deploy-wallet-at-pr.yml
  apps/extension/src/provider/Anoma.test.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/account.rs
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/types.ts
Labels: T - Wallet Core, C - Feature

#276 docs: initial sdk docs
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
  specs/packages/sdk.md
Labels: documentation, T - SDK

#281 feat/280 - Implement events for new address & new mnemonics
  apps/extension/src/App/Accounts/AccountListing.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  apps/extension/src/background/keyring/service.ts
Labels: C - Feature, Extension Core, E - Extension

#289 docs: Updating README for building interface on macOS
  README.md
Labels: documentation

#225 Balance Query & IBC with Keplr Accounts (@cosmjs)
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/deploy-wallet-at-pr.yml
  apps/extension/src/Setup/AccountCreation/Steps/Password/Password.tsx
  apps/extension/src/provider/data.mock.ts
  apps/extension/webpack.config.js
  apps/namada-interface/.env.sample
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/config/api.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/coins.ts
  apps/namada-interface/src/slices/transfers.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/ethereum.ts
  packages/chains/src/chains/namada.ts
  packages/chains/src/chains/osmosis.ts
  packages/chains/src/index.ts
  packages/integrations/package.json
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/types/Integration.ts
  packages/rpc/src/RpcClient.ts
  packages/types/src/chain.ts
  packages/types/src/tx/tokens/Cosmos.ts
  packages/types/src/tx/tokens/index.ts
  packages/types/src/tx/tokens/types/index.ts
  packages/types/src/tx/types.ts
  yarn.lock
Labels: T- Integrating 3rd Party Extensions, Wallet UI, IBC transfer
