Repository anoma/namada-interface, pull requests merged in 2023-12, with the labels that each got.

#486 bug/480 - Make chainId optional to support released extension
  apps/extension/src/provider/Namada.ts
  packages/integrations/src/Namada.ts
  packages/types/src/namada.ts
Labels: E - Extension

#487 bug/480 - Add optional chainId to accounts
  apps/extension/src/provider/Namada.ts
  packages/integrations/src/Namada.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Labels: E - Extension

#497 feat(airdrops website): add ethresarch category
  apps/airdrop/src/App/eligibilityMap.ts
Labels: C - Feature

#499 feat: add annoucement link
  apps/airdrop/src/App/Layouts/SidebarPage/SidebarPage.tsx
  apps/airdrop/src/App/Main.tsx
Labels: C - Feature

#520 feat/516 - Faucet App Updates
  apps/faucet/package.json
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.components.ts
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/config/index.ts
  apps/faucet/src/config/tokens.ts
  apps/faucet/src/utils/index.ts
  yarn.lock
Labels: Faucet App
