Repository anoma/namada-interface, pull requests merged in 2024-06, with the labels that each got.

#846 Namadillo: Staking > Withdraw
  apps/namadillo/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/UnbondingAmountsTable.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/slices/staking.ts
  apps/namadillo/src/slices/validators.ts
Labels: App: Interface

#858 feat: bump to Namada 0.39.0, update transparent transfer
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/TxType.md
  packages/sdk/docs/modules.md
  packages/sdk/examples/submitTransfer.ts
  packages/sdk/src/tests/tx.test.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/src/types.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/transparentTransfer.ts
  packages/types/src/tx/schema/wrapperTx.ts
  packages/types/src/tx/types.ts
Labels: improvement, App: Extension, Lib: SDK

#861 feat/860 - Update Sdk instance with new settings
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/modules.md
  packages/sdk/src/sdk.ts
Labels: improvement, Lib: SDK

#886 bug: Approve sign promise should resolve when rejected
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
Labels: bug, App: Extension

#854 feat/779 - SDK: Incorporate Tx batching functionality
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  apps/namadillo/src/App/Governance/SubmitVote.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/lib/query.ts
  packages/sdk/docs/classes/BuiltTx.md
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/modules.md
  packages/sdk/src/index.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/tx/tx.ts
  packages/sdk/src/tx/types.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/batchTxResult.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/txResponse.ts
  packages/types/src/tx/types.ts
Labels: feature, App: Interface, App: Extension, Lib: SDK
