Repository anoma/namada-interface, pull requests merged in 2024-11, with the labels that each got.

#1155 feat/944 - Extension updates - BIP44/Zip32/Ledger/Masp
  apps/extension/package.json
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/Accounts/ViewAccount.tsx
  apps/extension/src/App/Accounts/ViewingKey.tsx
  apps/extension/src/App/Accounts/index.ts
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Setup/Common/AdvancedOptions.tsx
  apps/extension/src/Setup/Common/AdvancedOptionsMenu.tsx
  apps/extension/src/Setup/Common/Bip39PassphraseForm.tsx
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/Common/index.ts
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/storage/VaultStorage.ts
  apps/extension/src/utils/index.ts
  apps/namadillo/src/App/Settings/SettingsMain.tsx
  packages/components/src/Input.tsx
  packages/components/src/ViewKeys.tsx
  packages/crypto/lib/src/crypto/zip32.rs
  packages/crypto/src/__tests__/crypto.test.ts
  packages/sdk/src/index.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/tests/data.ts
  packages/sdk/src/utils.ts
  packages/types/src/account.ts
  yarn.lock
Labels: App: Extension, UI: Interface

#1230 chore: Move SDK package into @namada org
  apps/extension/src/App/Accounts/ViewAccount.tsx
  apps/extension/src/Approvals/ApproveSignTx.tsx
  apps/extension/src/Approvals/Commitment.tsx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/sdk/service.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/background/vault/types.ts
  apps/extension/src/provider/Namada.test.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/storage/VaultStorage.test.ts
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/atoms/masp/atoms.ts
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/utils/sdk.ts
  apps/namadillo/src/workers/ShieldWorker.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/sdk/docs/README.md
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/PhraseSize.md
  packages/sdk/docs/enums/TxType.md
  packages/sdk/docs/modules.md
  packages/sdk/package.json
  tsconfig.base.json
  yarn.lock
Labels: Lib: SDK

#1233 Namadillo: Use latest registry to update osmosis-testnet
  apps/namadillo/package.json
  apps/namadillo/src/atoms/integrations/functions.ts
  yarn.lock
Labels: bug, App: Namadillo

#1232 feat/1231: Extension - Generate shielded keys from private key import
  apps/extension/src/App/Accounts/ViewingKey.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
Labels: feature, App: Extension

#1245 chore: Bumping namada-indexer version
  apps/namadillo/package.json
  apps/namadillo/src/atoms/fees/services.ts
  yarn.lock
Labels: App: Namadillo

#1252 fix: replace tally type with two fifths
  apps/namadillo/package.json
  apps/namadillo/src/App/Governance/ProposalStatusSummary.tsx
  apps/namadillo/src/atoms/proposals/functions.ts
  packages/types/docs/classes/BatchTxResultMsgValue.md
  packages/types/docs/classes/BondMsgValue.md
  packages/types/docs/classes/ClaimRewardsMsgValue.md
  packages/types/docs/classes/CommitmentMsgValue.md
  packages/types/docs/classes/EthBridgeTransferMsgValue.md
  packages/types/docs/classes/IbcTransferMsgValue.md
  packages/types/docs/classes/Message.md
  packages/types/docs/classes/RedelegateMsgValue.md
  packages/types/docs/classes/RevealPkMsgValue.md
  packages/types/docs/classes/ShieldedTransferDataMsgValue.md
  packages/types/docs/classes/ShieldedTransferMsgValue.md
  packages/types/docs/classes/ShieldingTransferDataMsgValue.md
  packages/types/docs/classes/ShieldingTransferMsgValue.md
  packages/types/docs/classes/SignatureMsgValue.md
  packages/types/docs/classes/SigningDataMsgValue.md
  packages/types/docs/classes/TransferDataMsgValue.md
  packages/types/docs/classes/TransferMsgValue.md
  packages/types/docs/classes/TransparentTransferDataMsgValue.md
  packages/types/docs/classes/TransparentTransferMsgValue.md
  packages/types/docs/classes/TxDetailsMsgValue.md
  packages/types/docs/classes/TxMsgValue.md
  packages/types/docs/classes/TxResponseMsgValue.md
  packages/types/docs/classes/UnbondMsgValue.md
  packages/types/docs/classes/UnshieldingTransferDataMsgValue.md
  packages/types/docs/classes/UnshieldingTransferMsgValue.md
  packages/types/docs/classes/VoteProposalMsgValue.md
  packages/types/docs/classes/WithdrawMsgValue.md
  packages/types/docs/classes/WrapperTxMsgValue.md
  packages/types/docs/enums/AccountType.md
  packages/types/docs/enums/BridgeType.md
  packages/types/docs/enums/Events.md
  packages/types/docs/enums/KeplrEvents.md
  packages/types/docs/enums/MetamaskEvents.md
  packages/types/docs/interfaces/IMessage.md
  packages/types/docs/interfaces/Namada.md
  packages/types/docs/interfaces/Signer.md
  packages/types/docs/modules.md
  packages/types/src/proposals.ts
  yarn.lock
Labels: bug, App: Namadillo

#1255 feat/1251: Fetch applications feature flags from registry
  apps/namadillo/scripts/proxies.json
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
Labels: feature, App: Namadillo

#1266 fix: Add missing ibc references, add assets for namadadryrun
  apps/namadillo/package.json
  apps/namadillo/src/atoms/integrations/functions.ts
  yarn.lock
Labels: bug, App: Namadillo

#1276 fix/1254 - Namadillo: Show advanced settings when a config.toml is present
  apps/namadillo/src/App/Settings/Advanced.tsx
Labels: bug, App: Namadillo

#1277 feat/1248: Display Sha256 hash of Proposal Wasm
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  packages/utils/src/crypto.ts
  packages/utils/src/index.ts
Labels: App: Namadillo, improvement

#1282 fix: robuster way to detect/install keplr (#1267)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/integrations/Keplr.ts
  apps/namadillo/src/integrations/types.ts
Labels: bug, App: Namadillo, needs discussion in issue

#1305 feat/1304 - Namadillo: Add commit hash to Settings, link to revision
  apps/extension/package.json
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/webpack.config.js
  apps/namadillo/package.json
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Labels: App: Namadillo, improvement

#1309 chore: Bump to namada v0.46.0
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
Labels: improvement, Lib: SDK, Phase 1

#1302 fix: Namadillo - import proxy env correctly
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
Labels: bug, App: Namadillo

#1315 Namadillo: Transfer review and fixes
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionActions.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/types.ts
Labels: App: Namadillo

#1325 SDK/Namadillo: feat/1324 - Move to SDK Imports
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  packages/sdk/src/index.ts
  packages/sdk/src/sdk.ts
Labels: improvement, Lib: SDK

#1331 bug: Namadillo - Add git revision var to build:only script
  apps/namadillo/package.json
Labels: bug, App: Namadillo

#1343 feat/1229: Extension style improvements - v0.3.3
  apps/extension/src/App/Accounts/DeleteAccount.tsx
  apps/extension/src/App/Accounts/ViewMnemonic.tsx
  apps/extension/src/App/Accounts/ViewingKey.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Settings/Warnings.tsx
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/index.tsx
  apps/extension/src/global.css
Labels: App: Extension, UI: Interface

#1296 BUG: Extension - Update index of Setup to fix errors & warnings
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/index.tsx
  apps/extension/src/Setup/query.ts
  apps/extension/src/Setup/types.ts
Labels: bug, App: Extension

#1346 chore: Bump SDK version, regenerate docs, bump Namada
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/ProgressBarNames.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/SdkEvents.md
  packages/sdk/docs/modules.md
  packages/sdk/package.json
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Labels: Lib: SDK

#1298 feat/1295 - Update Namada Keychain integration
  apps/extension/src/Approvals/ApproveConnection.tsx
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.test.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/utils/index.ts
  apps/faucet/src/App/Faucet.tsx
  apps/namadillo/src/App/Common/ConnectExtensionButton.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Setup/ExtensionLoader.tsx
  apps/namadillo/src/App/SwitchAccount/SwitchAccountPanel.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/atoms/arbitraryMessages.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/hooks/useExtensionEvents.tsx
  apps/namadillo/src/hooks/useNamadaKeychain.ts
  apps/namadillo/src/index.tsx
  apps/namadillo/src/integrations/types.ts
  apps/namadillo/src/lib/query.ts
  packages/integrations/src/Namada.ts
  packages/types/src/account.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Labels: feature, App: Namadillo, App: Extension, refactoring
