Repository anoma/namada-interface, pull requests merged in 2024-02, with the labels that each got.

#611 feat/608 - Support memo, use native token
  apps/extension/package.json
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/sdk/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/.env.sample
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/StakingBalancesList.tsx
  apps/namada-interface/src/App/Staking/UnbondPosition/UnbondPosition.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/Token/types.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/types.ts
  apps/namada-interface/src/slices/accounts.ts
  package.json
  packages/integrations/src/Namada.ts
  packages/integrations/src/types/Integration.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/chain.ts
  packages/types/src/namada.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/tokens/types/index.ts
  packages/utils/src/helpers/index.ts
Labels: bug, C - Feature, Interface UI, E - Extension

#624 fix: do not display import with passphrase in pk flow
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
Labels: bug

#615 feat/614 - Faucet extension integration
  apps/faucet/package.json
  apps/faucet/src/App/App.components.ts
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/utils/index.ts
  yarn.lock
Labels: C - Feature, Faucet App

#623 fix: Chain service improvements for token
  apps/extension/src/background/chains/service.ts
Labels: bug

#627 refactor - Faucet: clean up faucet API & pow utils
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/utils/api.ts
  apps/faucet/src/utils/index.ts
  apps/faucet/src/utils/pow.ts
  apps/faucet/src/utils/types.ts
Labels: Faucet App
