Repository anoma/namada-interface, pull requests merged in 2024-08, with the labels that each got.

#957 fix - Update faucet app
  apps/faucet/package.json
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/index.tsx
  apps/faucet/src/utils/api.ts
  apps/faucet/src/utils/types.ts
  apps/faucet/webpack.config.js
  yarn.lock
Labels: bug, App: Faucet, improvement

#1001 bug: Namadillo - Click to copy address should copy address, not public key
  apps/namadillo/src/App/Common/ActiveAccount.tsx
Labels: bug, App: Namadillo, UI: Interface

#1010 feat/1009 - Namadillo: Remove hide balances feature
  apps/faucet/src/utils/api.ts
  apps/namadillo/src/App/Common/AppContainer.tsx
  apps/namadillo/src/App/Common/FiatCurrency.tsx
  apps/namadillo/src/App/Common/NamCurrency.tsx
  apps/namadillo/src/App/Common/TopNavigation.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/types.d.ts
Labels: App: Namadillo, improvement, UI: Interface

#890 chore: switch to use namada_sdk instead of namada
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/io.rs
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/shared/lib/src/sdk/transaction.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet/mod.rs
  packages/shared/lib/src/sdk/wallet/wallet_node.rs
  packages/shared/lib/src/sdk/wallet/wallet_web.rs
  packages/shared/lib/src/types/address.rs
  packages/shared/lib/src/types/masp.rs
  packages/shared/lib/src/types/query.rs
Labels: refactoring, Lib: SDK

#1016 Extension - address feedback
  apps/extension/src/App/Accounts/ViewAccount.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  packages/components/src/ViewKeys.tsx
Labels: App: Namadillo, improvement, App: Extension

#1018 chore: Extension - Update release CI script
  .github/workflows/release-wallet.yml
  apps/extension/.env.sample
  apps/extension/.gitignore
  apps/extension/README.md
  apps/extension/webpack.config.js
Labels: improvement, App: Extension
