Repository anoma/namada-interface, pull requests merged in 2024-12, with the labels that each got.

#1347 chore: Remove unneeded Firefox instruction
  apps/extension/FIREFOX_README.md
Labels: App: Extension, docs

#1352 feat/1349 - Require unlocked keychain for all access
  apps/extension/package.json
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveConnection.tsx
  apps/extension/src/Approvals/WithAuth.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/vault/messages.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/content/events.ts
  apps/extension/src/extension/ExtensionBroadcaster.ts
  apps/namadillo/src/hooks/useExtensionEvents.tsx
  apps/namadillo/src/index.tsx
  apps/namadillo/src/services/extensionEvents/index.ts
  apps/namadillo/src/services/extensionEvents/provider.tsx
  apps/namadillo/src/services/index.ts
  apps/namadillo/src/services/integrations/index.ts
  apps/namadillo/src/services/integrations/provider.tsx
  packages/types/src/events.ts
  yarn.lock
Labels: improvement, App: Extension

#1363 chore: Bump keychain version, regenerate type docs
  apps/extension/package.json
  packages/types/docs/classes/BatchTxResultMsgValue.md
  packages/types/docs/classes/BondMsgValue.md
  packages/types/docs/classes/ClaimRewardsMsgValue.md
  packages/types/docs/classes/CommitmentMsgValue.md
  packages/types/docs/classes/EthBridgeTransferMsgValue.md
  packages/types/docs/classes/IbcTransferMsgValue.md
  packages/types/docs/classes/Message.md
  packages/types/docs/classes/RedelegateMsgValue.md
  packages/types/docs/classes/RevealPkMsgValue.md
  packages/types/docs/classes/ShieldedTransferDataMsgValue.md
  packages/types/docs/classes/ShieldedTransferMsgValue.md
  packages/types/docs/classes/ShieldingTransferDataMsgValue.md
  packages/types/docs/classes/ShieldingTransferMsgValue.md
  packages/types/docs/classes/SignatureMsgValue.md
  packages/types/docs/classes/SigningDataMsgValue.md
  packages/types/docs/classes/TransferDataMsgValue.md
  packages/types/docs/classes/TransferMsgValue.md
  packages/types/docs/classes/TransparentTransferDataMsgValue.md
  packages/types/docs/classes/TransparentTransferMsgValue.md
  packages/types/docs/classes/TxDetailsMsgValue.md
  packages/types/docs/classes/TxMsgValue.md
  packages/types/docs/classes/TxResponseMsgValue.md
  packages/types/docs/classes/UnbondMsgValue.md
  packages/types/docs/classes/UnshieldingTransferDataMsgValue.md
  packages/types/docs/classes/UnshieldingTransferMsgValue.md
  packages/types/docs/classes/VoteProposalMsgValue.md
  packages/types/docs/classes/WithdrawMsgValue.md
  packages/types/docs/classes/WrapperTxMsgValue.md
  packages/types/docs/enums/AccountType.md
  packages/types/docs/enums/BridgeType.md
  packages/types/docs/enums/Events.md
  packages/types/docs/enums/KeplrEvents.md
  packages/types/docs/enums/MetamaskEvents.md
  packages/types/docs/interfaces/IMessage.md
  packages/types/docs/interfaces/Namada.md
  packages/types/docs/interfaces/Signer.md
  packages/types/docs/modules.md
Labels: improvement, App: Extension, docs

#1364 release: SDK v0.12.0 - Post-release bumps, CHANGELOG
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  yarn.lock
Labels: Lib: SDK

#1369 Registry update for Namada mainnet
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
  apps/namadillo/src/utils/index.ts
  yarn.lock
Labels: feature, App: Namadillo

#1373 BUG - Namadillo: Fix issue where 0 enabled features returns ALL features
  apps/namadillo/package.json
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
  package.json
Labels: bug

#1379 BUG: SDK - Remove empty string memos
  apps/namadillo/package.json
  apps/namadillo/src/lib/query.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/txDetails.ts
Labels: App: Extension, Lib: SDK

#1380 feat: SDK: bump to 0.13.0
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: Lib: SDK

#1381 fix: Namadillo - IBC transfer should also not have an empty string memo
  apps/namadillo/src/lib/transactions.ts
Labels: App: Namadillo

#1385 feat/1383: Extension - Add apps link to accounts view
  apps/extension/package.json
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/ParentAccountsFooter.tsx
  packages/components/src/ActionButton.tsx
Labels: App: Extension, UI: Interface

#1389 feat/1047: Ledger transport updates, Updated Step 2 text
  apps/extension/package.json
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  packages/sdk/README.md
  packages/sdk/docs/README.md
  packages/sdk/package.json
  yarn.lock
Labels: bug, App: Namadillo, App: Extension, Ledger HW Wallet

#1191 feat: unshield + shielded transfers + disposable gas payer
  .lintstagedrc.json
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/storage/LocalStorage.ts
  apps/extension/src/storage/VaultStorage.ts
  apps/extension/src/utils/index.ts
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/shield/atoms.ts
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  apps/namadillo/src/workers/ShieldMessages.ts
  apps/namadillo/src/workers/ShieldWorker.ts
  apps/namadillo/src/workers/UnshieldMessages.ts
  packages/crypto/lib/src/crypto/bip32.rs
  packages/crypto/lib/src/crypto/mod.rs
  packages/sdk/src/crypto/crypto.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/keys/types.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/signing.ts
  packages/shared/lib/.cargo/config.toml
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/masp/sync.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet/mod.rs
  packages/shared/lib/src/types/masp.rs
  packages/types/src/account.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/tx.ts
Labels: masp, phase 3

#1398 Extension: Update to Firefox docs
  .github/workflows/release-wallet.yml
  apps/extension/.env.sample
  apps/extension/FIREFOX_README.md
  apps/extension/package.json
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/webpack.config.js
  packages/chains/src/chains/namada.ts
Labels: App: Extension

#1391 bug/1047: Namadillo Ledger Notifications
  apps/namadillo/package.json
  apps/namadillo/src/App/Governance/SubmitVote.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/lib/query.ts
Labels: bug, App: Namadillo, Ledger HW Wallet

#1401 fix: Namadillo - Use correct text for VoteProposal notification event
  apps/namadillo/package.json
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
Labels: bug, App: Namadillo

#1423 docs: Extension: Tweaks to Firefox Readme
  apps/extension/FIREFOX_README.md
Labels: App: Extension, docs

#1434 feat: Namadillo - Update for new housefire
  apps/namadillo/package.json
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
  yarn.lock
Labels: App: Namadillo, improvement
