Repository anoma/namada-interface, pull requests merged in 2024-04, with the labels that each got.

#718 Implementing currency selector and "hide currency" toggle on Top Navigation
  apps/namada-interface/src/App/Common/ActiveAccount/ActiveAccount.tsx
  apps/namada-interface/src/App/Common/ActiveAccount/index.ts
  apps/namada-interface/src/App/Common/CurrencySelector/CurrencySelector.tsx
  apps/namada-interface/src/App/Common/CurrencySelector/index.ts
  apps/namada-interface/src/App/Common/TopNavigation/TopNavigation.tsx
  apps/namada-interface/src/currencies/index.ts
  apps/namada-interface/src/slices/exchangeRates.ts
  apps/namada-interface/src/slices/settings.ts
  packages/components/src/CopyToClipboardControl.tsx
  packages/components/src/StyledSelectBox.tsx
  packages/components/src/ToggleButton.tsx
Labels: App: Interface

#713 Migrating dev server to Vite
  apps/namada-interface/.eslintrc.cjs
  apps/namada-interface/index.html
  apps/namada-interface/package.json
  apps/namada-interface/postcss.config.cjs
  apps/namada-interface/src/App/AccountOverview/AccountOverview.components.ts
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Common/ActiveAccount/ActiveAccount.tsx
  apps/namada-interface/src/App/Common/ActiveAccount/index.ts
  apps/namada-interface/src/App/Common/Container/Container.tsx
  apps/namada-interface/src/App/Common/CurrencySelector/CurrencySelector.tsx
  apps/namada-interface/src/App/Common/CurrencySelector/index.ts
  apps/namada-interface/src/App/Common/Sidebar/Sidebar.tsx
  apps/namada-interface/src/App/Common/SidebarMenuItem/SidebarMenuItem.tsx
  apps/namada-interface/src/App/Common/TopNavigation/TopNavigation.tsx
  apps/namada-interface/src/App/Icons/MASPIcon.tsx
  apps/namada-interface/src/App/Icons/SwapIcon.tsx
  apps/namada-interface/src/App/Sidebars/MainnetRoadmap.tsx
  apps/namada-interface/src/currencies/index.ts
  apps/namada-interface/src/slices/exchangeRates.ts
  apps/namada-interface/src/slices/settings.ts
  apps/namada-interface/tailwind.config.cjs
  apps/namada-interface/vite.config.js
  packages/components/src/CopyToClipboardControl.tsx
  packages/components/src/Currency.tsx
  packages/components/src/StyledSelectBox.tsx
  packages/components/src/ToggleButton.tsx
  packages/components/src/base.css
  packages/components/src/index.ts
  packages/crypto/src/init-inline.ts
  packages/hooks/package.json
  packages/hooks/src/useSanitizedLocation.ts
  packages/hooks/src/useSanitizedParams.ts
  packages/shared/.gitignore
  packages/shared/lib/src/rpc_client.ts
  packages/shared/lib/src/sdk/mod.ts
  packages/shared/package.json
  packages/shared/src/init-inline.ts
  packages/shared/tsconfig.node.json
  packages/shared/tsconfig.web.json
  storybook/.yarn/install-state.gz
  storybook/src/stories/Currency.stories.tsx
  yarn.lock
Labels: refactoring

#688 feat/682: adding crypto functions to sdk package
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/vault/crypto.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/crypto.test.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/background/vault/types.ts
  apps/extension/src/config/argon2.ts
  apps/extension/src/config/index.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/test/init.ts
  packages/sdk/README.md
  packages/sdk/docs/README.md
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/modules.md
  packages/sdk/examples/queryBalance.ts
  packages/sdk/examples/submitTransfer.ts
  packages/sdk/src/crypto/crypto.ts
  packages/sdk/src/crypto/index.ts
  packages/sdk/src/crypto/types.ts
  packages/sdk/src/index.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/tests/crypto.test.ts
  packages/sdk/src/tests/data.ts
Labels: feature, App: Extension, Lib: SDK

#695 feat: sdk api improvements
  packages/sdk/README.md
  packages/sdk/examples/README.md
  packages/sdk/examples/args.ts
  packages/sdk/examples/index.ts
  packages/sdk/package.json
  packages/sdk/src/masp.ts
  packages/sdk/src/wallet.ts
  packages/sdk/tsconfig.node.json
  packages/sdk/tsconfig.web.json
  packages/shared/lib/src/sdk/masp/masp.node.js
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet/mod.rs
  packages/shared/lib/src/sdk/wallet/wallet_node.rs
  packages/shared/lib/src/sdk/wallet/wallet_web.rs
  packages/shared/scripts/build.js
Labels: improvement, Lib: SDK

#732 feat/721: Return and display invalid word in mnemonic phrase
  apps/extension/src/Setup/Common/SeedPhraseList.tsx
  apps/extension/src/Setup/Common/SeedPhraseListItem.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/crypto/lib/src/crypto/bip39.rs
Labels: feature, App: Extension

#736 feat/677 - Support querying pending Tx within extension
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/ledger/handler.ts
  apps/extension/src/background/ledger/messages.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/utils/index.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/integrations/src/Namada.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Labels: App: Extension

#751 feat/750: Add Redelegate Tx to SDK shared & js packages
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Signer.ts
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/TxType.md
  packages/sdk/docs/modules.md
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/src/types.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/redelegate.ts
  packages/types/src/tx/types.ts
Labels: Lib: SDK
