Repository anoma/namada-interface, pull requests merged in 2024-03, with the labels that each got.

#673 chore: update namada to 0.32.0
  e2e/setup-namada.sh
  e2e/wasm/checksums.json
  e2e/wasm/tx_become_validator.0a34ba65499ded41c54d949cb5becbd79add4b041b4ab00c6c7258138623aeac.wasm
  e2e/wasm/tx_bond.3567836219d49c292fbf01c6e4c5b19c8f9ef6bb8ca287a1528dfe311925e592.wasm
  e2e/wasm/tx_bridge_pool.4dbbefe1f10edce4678939e115c15913670835dbad08b66ce692a1985e5f03d9.wasm
  e2e/wasm/tx_change_consensus_key.128be737d4f48925ebc06873c7cef23842fd30e4e0def434db79dc3056cc2988.wasm
  e2e/wasm/tx_change_validator_commission.1ac9ed8efb9811796911da7559fd93a6232933dfd87ee08c88c468f2c66c729f.wasm
  e2e/wasm/tx_change_validator_metadata.a4e7e361e6c103acb3a1622d22356fc6caddf81a3cc34f6499454ed577ced04a.wasm
  e2e/wasm/tx_claim_rewards.9a34349f2795fc40f2764d234f91872c7daa9c778b10ac0ab216fa3492b6338e.wasm
  e2e/wasm/tx_deactivate_validator.b0682903aaa2e24b957d63d4d50b38f936b876d166ea71b1ecffe198c174a422.wasm
  e2e/wasm/tx_ibc.a57ae07f16bad541ece4111c26488f035eddcc68bef74a622d512b3fbc912b55.wasm
  e2e/wasm/tx_init_account.84c787bbfee923b23e91bf7c69f744643ced200c8a289fe9ee9232047695fac0.wasm
  e2e/wasm/tx_init_proposal.16c920fcbc37732d5ee2d0c33c58447fa8fac5f4504d2d6ae4e20d12ded3f7f4.wasm
  e2e/wasm/tx_reactivate_validator.851e8c8a833451a1f09ae8d52a51c5a753f9b417eaf865c3cf2c0f5771427255.wasm
  e2e/wasm/tx_redelegate.aa1ffee5f20c336eb3366deb53adf2dbdec8bdf9dabd6af7567eb6f529c193aa.wasm
  e2e/wasm/tx_resign_steward.f46f6074bdc52b5d20781d6554ef80f952dad27d1af0fb036a0924d58c751a83.wasm
  e2e/wasm/tx_reveal_pk.a6c9d1c6804043d5766382fe94a23dfa36d0df6d5715b514f2064516f32d8390.wasm
  e2e/wasm/tx_transfer.fe7c751c70709fee413790f3b4302b1b649794806624131f4d8c037d5ef2deee.wasm
  e2e/wasm/tx_unbond.79be2cf3e51e323a1799ff11dd3d202a711fafe72022da9de2cabea5e0abd263.wasm
  e2e/wasm/tx_unjail_validator.1d2527bbda9c1e4933d2bae9f79cc3b392b0eadde583e9b8f3c35aff03e4b5be.wasm
  e2e/wasm/tx_update_account.b3d5de53ac10af15096204b828962038b093bc673aee967ca20c5cfa832bee5f.wasm
  e2e/wasm/tx_update_steward_commission.d19f60df82b81c25f30a0d4b85c29cfc701f67f71a00a6301c33c8b72cb51ac6.wasm
  e2e/wasm/tx_vote_proposal.850e62832c0952477f08be76ee2cb365fbe0936fde153e5c099916754be4d7c2.wasm
  e2e/wasm/tx_withdraw.35ed230f32880d64b2346abbe3438739d1bdbf8f400ba3c9ae83352dd48dca6b.wasm
  e2e/wasm/vp_implicit.56977e369da74c9d6eef7fb678d2d103ac4a569bf11f2487e650159a34689967.wasm
  e2e/wasm/vp_user.5779b4425ba114ddbbc181a99d4d483d6d4199b63932305dd7fddb659bd446bc.wasm
  packages/shared/.eslintrc.js
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/src/index.ts
Labels: Lib: SDK

#692 feat: support memo field in ibc transfer
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/ibcTransfer.ts
Labels: feature, App: Extension

#696 fix: Extension release version should read from extension package.json
  .github/workflows/release-wallet.yml
  apps/extension/package.json
  apps/namada-interface/webpack.config.js
Labels: App: Extension
