Repository anoma/namada-interface, pull requests merged in 2024-10, with the labels that each got.

#1143 feat/592: Validate length and checksum of fetched masp param
  apps/namadillo/src/hooks/useSdk.tsx
  packages/shared/lib/src/sdk/mod.ts
Labels: feature, improvement, Lib: SDK

#1149 Firefox - 0.3.3 updates
  apps/extension/FIREFOX_README.md
  apps/extension/package.json
Labels: App: Extension, docs

#1173 docs: Updating SDK README
  packages/sdk/README.md
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/modules.md
  packages/sdk/src/mnemonic.ts
Labels: Lib: SDK, docs

#1175 feat: sdk version bump 0.10.0, CHANGELOG
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: Lib: SDK

#1187 chore: bump to namada 0.44.1
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Labels: Lib: SDK

#1176 feat: add cubic_slashing_window_length
  apps/namadillo/package.json
  apps/namadillo/src/atoms/chain/functions.ts
  yarn.lock
Labels: App: Namadillo

#1193 Update README.md
  packages/sdk/README.md
Labels: Lib: SDK, docs
