Repository anoma/namada-interface, pull requests merged in 2025-02, with the labels that each got.

#1624 feat: Update Keychain for new modified-zip32
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/Setup/Common/AdvancedOptionsMenu.tsx
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/Common/CustomPathForm.tsx
  apps/extension/src/Setup/Common/Zip32Form.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/query.ts
  apps/extension/src/Setup/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/storage/schemas/VaultSchemaV2.ts
  apps/extension/src/utils/index.ts
  packages/crypto/lib/src/crypto/zip32.rs
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/keys/types.ts
  packages/sdk/src/tests/data.ts
  packages/sdk/src/tests/keys.test.ts
  packages/types/src/account.ts
Labels: feature, App: Extension, Lib: SDK

#1666 fix: load shielded context before generating ibc shielding memo
  packages/shared/lib/src/sdk/mod.rs
Labels: bug

#1676 fix: Bump keychain compatibility for Namadillo
  apps/namadillo/src/compatibility.json
  apps/namadillo/src/hooks/useCompatibilityErrors.tsx
Labels: bug, App: Namadillo

#1620 fix: Updating docker & nginx configs for multicore
  apps/namadillo/README.md
  apps/namadillo/package.json
  apps/namadillo/vite.config.mjs
  docker/namadillo/.gitignore
  docker/namadillo/Dockerfile
  docker/namadillo/nginx.conf
Labels: bug, App: Namadillo

#1333 Add build file to facilitate deploying Namadillo to Service Providers on the Laconic Network
  build-webapp.sh
Labels: App: Namadillo

#1744 feat: Extension - Add view and import Spending Key
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/SpendingKey.tsx
  apps/extension/src/App/Accounts/ViewAccount.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/context/AccountContext.tsx
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/utils/index.ts
  apps/namadillo/src/App/SwitchAccount/SwitchAccountPanel.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  packages/components/src/RadioGroup.tsx
  packages/sdk/src/keys/keys.ts
  packages/shared/lib/src/types/masp.rs
  packages/types/src/account.ts
  packages/types/src/namada.ts
Labels: feature, App: Extension
