Repository anoma/namada-interface, pull requests merged in 2025-03, with the labels that each got.

#1801 fix: lacked permission for build file when building on Laconic network
  build-webapp.sh
Labels: bug, App: Namadillo

#1814 docs: Update SDK & Types docs
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/ExtendedViewingKey.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/ProgressBarNames.md
  packages/sdk/docs/classes/ProofGenerationKey.md
  packages/sdk/docs/classes/PseudoExtendedKey.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/PhraseSize.md
  packages/sdk/docs/modules.md
  packages/types/docs/classes/BatchTxResultMsgValue.md
  packages/types/docs/classes/BondMsgValue.md
  packages/types/docs/classes/BparamsConvertMsgValue.md
  packages/types/docs/classes/BparamsMsgValue.md
  packages/types/docs/classes/BparamsOutputMsgValue.md
  packages/types/docs/classes/BparamsSpendMsgValue.md
  packages/types/docs/classes/ClaimRewardsMsgValue.md
  packages/types/docs/classes/CommitmentMsgValue.md
  packages/types/docs/classes/EthBridgeTransferMsgValue.md
  packages/types/docs/classes/IbcTransferMsgValue.md
  packages/types/docs/classes/MaspTxIn.md
  packages/types/docs/classes/MaspTxOut.md
  packages/types/docs/classes/Message.md
  packages/types/docs/classes/RedelegateMsgValue.md
  packages/types/docs/classes/RevealPkMsgValue.md
  packages/types/docs/classes/ShieldedTransferDataMsgValue.md
  packages/types/docs/classes/ShieldedTransferMsgValue.md
  packages/types/docs/classes/ShieldingTransferDataMsgValue.md
  packages/types/docs/classes/ShieldingTransferMsgValue.md
  packages/types/docs/classes/SignatureMsgValue.md
  packages/types/docs/classes/SigningDataMsgValue.md
  packages/types/docs/classes/TransferDataMsgValue.md
  packages/types/docs/classes/TransferDetailsMsgValue.md
  packages/types/docs/classes/TransferMsgValue.md
  packages/types/docs/classes/TransparentTransferDataMsgValue.md
  packages/types/docs/classes/TransparentTransferMsgValue.md
  packages/types/docs/classes/TxDetailsMsgValue.md
  packages/types/docs/classes/TxMsgValue.md
  packages/types/docs/classes/TxResponseMsgValue.md
  packages/types/docs/classes/UnbondMsgValue.md
  packages/types/docs/classes/UnshieldingTransferDataMsgValue.md
  packages/types/docs/classes/UnshieldingTransferMsgValue.md
  packages/types/docs/classes/VoteProposalMsgValue.md
  packages/types/docs/classes/WithdrawMsgValue.md
  packages/types/docs/classes/WrapperTxMsgValue.md
  packages/types/docs/enums/AccountType.md
  packages/types/docs/enums/BridgeType.md
  packages/types/docs/enums/Events.md
  packages/types/docs/enums/KeplrEvents.md
  packages/types/docs/enums/MetamaskEvents.md
  packages/types/docs/interfaces/IMessage.md
  packages/types/docs/interfaces/Namada.md
  packages/types/docs/interfaces/Signer.md
  packages/types/docs/modules.md
Labels: Lib: SDK, docs

#1809 feat: Keychain signing - only require password on session timeout
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ConfirmSignArbitrary.tsx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/Approvals/StatusBox.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/background/vault/handler.ts
  apps/extension/src/background/vault/init.ts
  apps/extension/src/background/vault/messages.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/background/vault/types.ts
  apps/extension/src/test/init.ts
  packages/storage/src/store/SessionKVStore.ts
Labels: feature, App: Extension

#1838 fix: Fix Keplr signing when source is Ledger HW Wallet
  apps/namadillo/src/atoms/integrations/services.ts
Labels: bug, App: Namadillo, Ledger HW Wallet

#1860 fix: Namadillo - If account is a Ledger, don't show sign arbitrary button
  apps/namadillo/src/App/Layout/TopNavigation.tsx
Labels: bug, App: Namadillo, Ledger HW Wallet

#1927 FIX: Keychain - Don't display approve connection form if already approved
  apps/extension/src/Approvals/ApproveConnection.tsx
Labels: bug, App: Extension
